/* ===========================
FONDO GENERAL BLANCO
=========================== */

body {

font-family: Arial, sans-serif;

margin: 0;

padding: 0;

background: white;

}


/* ===========================
PANEL PRINCIPAL
=========================== */

.panel {

max-width: 800px;

margin: 20px auto;

padding: 15px;

border-radius: 12px;

}


/* ===========================
TITULO CENTRADO
=========================== */

.titulo {

text-align: center;

font-size: 50px;

font-weight: bold;

margin-bottom: 15px;

}


/* ===========================
PARTIDOS
=========================== */

.partido {

display: flex;

justify-content: space-between;

align-items: center;

padding: 30px;

border-radius: 10px;

margin-bottom: 8px;

}


/* FILAS ALTERNADAS */

.partido:nth-child(odd) {

background: #f2f2f2;

}

.partido:nth-child(even) {

background: white;

}


/* ===========================
EQUIPOS
=========================== */

.equipo {

width: 50%;

text-align: center;

font-weight: bold 25px;

}


/* ===========================
BOTONES L E V
=========================== */

.botones {

display: flex;

gap: 50px;

}


/* BOTONES BASE */

.btn {

background: white;

border: 2px solid #ccc;

color: black;

padding: 16px 22px;

border-radius: 6px;

cursor: pointer;

font-weight: bold;

transition: 0.2s;

}


/* HOVER */

.btn:hover {

border-color: green;

}


/* ACTIVO */

.btn.activo {

background: green;

color: white;

border-color: green;

}


/* ===========================
PANEL INFERIOR CENTRADO
=========================== */

.panel-inferior {

text-align: center;

margin-top: 20px;

}


/* INPUT */

input {

padding: 8px;

border-radius: 6px;

border: 1px solid #ccc;

width: 200px;

text-align: center;

}


/* BOTON ENVIAR */

button {

padding: 10px 18px;

border-radius: 6px;

border: none;

background: green;

color: white;

font-weight: bold;

cursor: pointer;

margin-top: 10px;

}


/* HOVER BOTON */

button:hover {

background: #006400;

}


/* RESPONSIVO */

@media(max-width:600px){

.equipo {

font-size: 13px;

}

.btn {

padding: 6px 9px;

}

  }
